<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show</title>
</head>
<body>
<div class="navbar" th:include="fragments/navbar :: newNavbar">
    This is inside content
</div>

<!--use th:object ONLY for a single object, not for lists-->
<div th:object="${post}">
    <h1 style="text-align: center" th:text="*{title}"></h1>
    <h2 style="text-align: center" th:text="*{body}"></h2>
</div>

<!--same as:-->
<!--<h1 th:text="${post.title}"></h1>-->
<!--<p th:text="${post.body}"></p>-->



</body>
</html>