<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Navbar</title>
</head>
<body>
<div th:fragment="newNavbar">
    This is the navbar content
    <nav>
        <ul>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/demo">Demo</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/posts/1">One Post</a></li>
            <li><a href="/roll-dice">Roll Dice</a></li>
        </ul>
    </nav>
</div>
</body>
</html>