<!DOCTYPE html>
<!--<html lang="en">-->
<!--we remove the above and add the below to use Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!--need to close the above empty tag, in this case meta, with a "/". Use this on ALL empty tags-->
    <title>Home Page</title>
</head>
<body>

<div class="navbar" th:include="fragments/navbar :: newNavbar">
    This is inside content
</div>

    <h1>This is our homepage!</h1>

<div class="footer" th:include="fragments/footer :: newFooter">
    This is footer content
</div>
</body>
</html>